In [5]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier

music_data = pd.read_csv('music.csv')
music_data

    age  gender      genre
0    20       1     HipHop
1    22       1       Jazz
2    21       1      Dance
3    25       0     HipHop
4    20       1       Jazz
5    22       0       Jazz
6    23       1  Classical
7    24       0      Dance
8    20       0      Dance
9    25       0     HipHop
10   21       0       Jazz
11   30       1       Jazz
12   29       1  Classical
13   28       1  Classical
14   31       0     HipHop
15   33       0       Jazz
16   35       1     HipHop
17   40       0       Jazz
18   38       0       Jazz
19   22       0     HipHop
20   23       0       Jazz
21   23       1       Jazz
22   25       1  Classical
23   22       1       Jazz
24   21       1       Jazz
25   25       1  Classical
26   20       0  Classical
27   22       0     HipHop
28   25       1      Dance
29   30       1  Classical

In [2]:
x = music_data.drop(columns=['genre'])
x

    age  gender
0    20       1
1    22       1
2    21       1
3    25       0
4    20       1
5    22       0
6    23       1
7    24       0
8    20       0
9    25       0
10   21       0
11   30       1
12   29       1
13   28       1
14   31       0
15   33       0
16   35       1
17   40       0
18   38       0
19   22       0
20   23       0
21   23       1
22   25       1
23   22       1
24   21       1
25   25       1
26   20       0
27   22       0
28   25       1
29   30       1

In [3]:
y = music_data['genre']
y

0        HipHop
1          Jazz
2         Dance
3        HipHop
4          Jazz
5          Jazz
6     Classical
7         Dance
8         Dance
9        HipHop
10         Jazz
11         Jazz
12    Classical
13    Classical
14       HipHop
15         Jazz
16       HipHop
17         Jazz
18         Jazz
19       HipHop
20         Jazz
21         Jazz
22    Classical
23         Jazz
24         Jazz
25    Classical
26    Classical
27       HipHop
28        Dance
29    Classical
Name: genre, dtype: object

In [12]:
model = DecisionTreeClassifier()
model.fit(x,y)
predictions = model.predict([ [26,1], [32,0] ])
predictions

array(['Classical', 'HipHop'], dtype=object)